<footer class="background--pink padding-top-xl padding-bottom-xl font--white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-centered">
        <div class="col-md-3 col-lg-2 padding-0 text-center margin-bottom-xs">
          <a href="http://www.planetargon.com" title="Visit Planet Argon"><img src="/images/planetargon-logo-white.svg" alt="Planet Argon"></a>
        </div>
        <div class="col-md-9 col-lg-10 padding-0">
          <p class="footer__text">This TechTown Diversity page was designed and built by <a class="white-link link--underline nowrap" href="http://www.planetargon.com">Planet Argon</a>.
  Simplifying lives through digital technology since 2002.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
