<footer class="background--pink padding-top-xl padding-bottom-xl font--white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-centered">
        <div class="col-sm-2 col-md-3 padding-0 text-center margin-bottom-xs">
          <img src="/images/planetargon-logo-white.svg" alt="Planet Argon">
        </div>
        <div class="col-sm-10 col-md-9 padding-0">
          <p>This TechTown Diversity page was designed and built by <a class="white-link link--underline" href="http://www.planetargon.com">Planet Argon</a>.
  Simplifying lives through digital technology since 2002.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
