<div class="container">
  <div class="row margin-top-md">
    <header class="navigation">
      <div class="col-md-4">
        <a href="#"><img src="/images/techtown-logo.png" alt="Techtown Portland"></a>
      </div>
      <div class="col-md-8">
        <ul class="list-inline text-right">
          <li class="list-inline-item padding-xs"><a href="#">Diversity Pledge</a></li>
          <li class="list-inline-item padding-xs"><a href="#">Contact</a></li>
          <li class="list-inline-item padding-xs"><a href="#" class="btn btn-pink">Techtown Portland Site</a></li>
        </ul>
      </div>
    </header>
  </div>
</div>
