<div class="container">
  <div class="row margin-top-md">
    <header class="navigation">
      <div class="col-lg-4">
        <a href="/"><img src="/images/techtown-logo.png" alt="Techtown Portland" class="full-width"></a>
      </div>
      <div class="col-lg-8">
        <ul class="list-inline text-lg-right text-xs-center text-sm-left">
          <li class="list-inline-item padding-xs"><a href="http://www.techtownportland.com/diversity/">Diversity Pledge</a></li>
          <li class="list-inline-item padding-xs"><a href="mailto:techtown@pdc.us">Contact</a></li>
          <li class="list-inline-item padding-xs"><a href="http://www.techtownportland.com/" class="btn btn-pink">Techtown Portland Site</a></li>
        </ul>
      </div>
    </header>
  </div>
</div>
