// ======================
// Overview Styles
// ======================
body {
  font-family: $roboto;
  -webkit-font-smoothing: antialiased;
}

// ======================
// Typography
// ======================
h1, .h1 {
  font-family: $varela;
  font-size: 50px;
}
h2, .h2 {
  font-family: $varela;
  font-family: 40px;
}
h3, .h3 {
  font-family: $varela;
  font-size: 32px;
}
h4, .h4 {
  font-family: $varela;
  font-size: 24px;
  line-height:1.4;
}
h5, .h5 {
  font-size: 22px;
}
h6, .h6 {
  font-size: 20px;
}
p {
  font-size: 18px;
}
.small {
  font-size: 14px;
}

.varela {
  font-family: $varela;
}

.roboto {
  font-family: $roboto;
}

.roboto-thin {
  font-family: $roboto;
  font-weight: 300;
}

a {
  @include transition(color, 0.2s, linear);
  color: $black;
  &:hover {
    text-decoration: none;
    color: lighten($black, 10%);
  }
}

.white-link {
  color: $white;
  &:hover {
    color: $white;
  }
}
// ======================
// Buttons
// ======================
.btn-pink {
  background-color: $pink;
  color: $white;
  @include transition(background-color, 0.2s, linear);
  &:hover {
    background-color: darken($pink, 10%);
  }
}
// ======================
// Page Styles
// ======================
.background--gray {
  background-color: $gray;
}
.background--pink {
  background-color: $pink;
}

svg:not(:root) {
  overflow: visible;
}

.navigation {
  a {
    font-family: $varela;
    text-transform: uppercase;
    color: $black;
  }
  .btn {
    color: $white;
    padding: 8px 15px;
    border-radius: 0px;
  }
}
.diversity-headline {
  background: url('/images/portland-waterfront.jpg');
  background-size: cover;
  min-height: 300px;
  padding: 120px 0px 0px;
  @media only screen and (max-width: 544px) {
    padding: 20px 0;
    min-height: inherit;
    h1 {
      font-size: 42px;
    }
  }
}
.quote {
  position: relative;
  &:before {
    content: '“';
    position: absolute;
    font-size: 100px;
    font-family: Georgia, serif;
    top: -47px;
    left: 25px;
  }
}
.filter-list {
  font-size: 0;
  li {
    display: inline-block;
    font-size: 16px;
  }
  a {
    padding: 5px 10px;
    background-color: $gray;
    &.active {
      color: $white;
      background-color: $pink;
    }
    &:active, &:focus {
      text-decoration: none;
    }
  }
}
.new-hires {
  background: url('/images/portland-blur.jpg');
  background-size: cover;
  background-repeat: none;
}
.chart-key {
  li {
    display: inline-block;
    position: relative;
    padding-left: 17px;
    margin: 0 5px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    &:before {
      content: "";
      width:13px;
      height: 13px;
      background-color: $aqua;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -6px;
    }
    &:nth-child(2) {
      &:before {
        background-color: $lime;
      }
    }
  }
}
// ==============
// Chart styles
// ==============
.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: $aqua;
}
.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: $lime;
}
.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: $green;
}
.ct-grid {
  display: none;
}
.chartist-tooltip {
  background: $dark-gray;
  color: $white;
  &:before {
    border-top-color: $dark-gray;
  }
}
.ct-bar {
  stroke-width: 20px;
  -webkit-animation:slideCharts 0.5s 1 alternate;
  animation:slideCharts 0.5s 1 alternate;
  transform-origin: 0% 77%;
  -webkit-transform-origin: 0% 100%;
  @media only screen and (max-width: 544px) {
    stroke-width: 12px;
  }
}

@-webkit-keyframes slideCharts {
  0% {
    transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

@keyframes slideCharts {
  0% {
    transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
